a {
     font-family: Arial, Helvetica, sans-serif;
     font-size: x-small;
     color: #000000;
     text-decoration: none;
     list-style-type: none;
}
a:hover {
     color:blue;
     text-decoration:underline;
}

h1 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18pt;
     font-weight: bold;
     letter-spacing: 3pt;
     color: #CC3333;
     background-color: #DDDDDD;
     margin-top: 0px;
     margin-right: 30px;
     margin-bottom: 30px;
     text-align: right;
     text-transform: uppercase;
}
h2 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14pt;
     font-weight: bold;
     letter-spacing: 1pt;
     color: #CC3333;
     background-color: #DDDDDD;
     margin-top: 30px;
     margin-right: 30px;
     text-align: right;
     text-indent: 2px;
}
h3 {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     color: #000000;
     margin-left: 10px;
}
h4 {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     color: #000000;
     margin-left: 10px;
}
p {
     font-family: Arial, Helvetica, sans-serif;
     color: #000000;
     margin-right: 30px;
     margin-left: 30px;
}
pre {
     font-size: 10pt;
     background-color: #EEEEEE;
     margin-right: 30px;
     margin-left: 30px;
     color: #000000;
}
dt {
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 6px;
     margin-right: 30px;
     margin-left: 30px;
}
dd {
     font-family: Arial, Helvetica, sans-serif;
     margin-right: 60px;
     margin-left: 60px;
}
blockquote {
     font-family: Arial, Helvetica, sans-serif;
     color: #000000;
     font-size: 10pt;
     font-weight: bold;
     margin-right: 60px;
     margin-left: 60px;
}
.toc_1 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12pt;
     font-variant: small-caps;
     font-weight: bold;
     letter-spacing: 1pt;
     margin-top:   10px;
     margin-left:  12px;
     margin-right: 15px;
     margin-bottom: 0px;
     background-color: #DDDDDD;
}
.toc_2 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 10pt;
     margin-top:    3px;
     margin-left:  24px;
     margin-right:  0px;
     margin-bottom: 0px;
     background-color: #FFFFFF;
}
.toc_3 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 9pt;
     margin-left:  36px;
     margin-top:    0px;
     margin-right:  0px;
     margin-bottom: 0px;
     background-color: #FFFFFF;
}
.toc_4 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 8pt;
     margin-left:  48px;
     margin-top:    0px;
     margin-right:  0px;
     margin-bottom: 0px;
     background-color: #FFFFFF;
}
.header {
     font-family: Arial, Helvetica, sans-serif;
     font-variant: small-caps;
     font-size: x-small;
     letter-spacing: 1pt;
     color: #333333;
}
.footer {
     font-family: Arial, Helvetica, sans-serif;
     font-variant: small-caps;
     font-size: x-small;
     letter-spacing: 1pt;
     background-color: #DDDDDD;
     color: #000000;
}
li {
     font-family: Arial, Helvetica, sans-serif;
}
.tdbgcolor {
     background-color: #CC3333;
}
.bodybgcolor {
     background-color: #FFFFFF;
}


