BODY {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 12pt;
    background-color: #b9cdd8;
    line-height: 16pt;
    font-size: 14pt;
    font-variant: small-caps;
    text-indent: 10pt;
}
h2 {
    margin-top: 12pt;
    font-variant: small-caps;
    font-size: 12pt;
    padding-left: 10pt;
}
h3 {
    font-size: 11pt;
    font-variant: small-caps;
    margin-top: 1em;
    padding-left: 10pt;
}
h4 {
    font-size: 10pt;
    font-variant: small-caps;
    margin-top: 1em;
    padding-left: 10pt;
}
p {
    font-size: 10pt;
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
pre {
    background-color: #E0E0E0;
    margin: 1em;
    margin-left: 4em;
    margin-right: 4em;
}
ul {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
ol {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
dt {
     margin-top: 6px;
     margin-right: 30px;
     margin-left: 30px;
}
dd {
     margin-right: 60px;
     margin-left: 60px;
}
blockquote {
     font-size: 10pt;
     font-weight: bold;
     margin-right: 60px;
     margin-left: 60px;
}
.toc_1 {
     font-size: 11pt;
     font-variant: small-caps;
     font-weight: bold;
     margin-top:   10px;
     margin-left:  12px;
     margin-right: 15px;
     margin-bottom: 0px;
     background-color: #DDDDDD;
}
.toc_2 {
     margin-top:    3px;
     margin-left:  24px;
     margin-right:  0px;
     margin-bottom: 0px;
     background-color: #FFFFFF;
}
.toc_3 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 9pt;
     margin-left:  36px;
     margin-top:    0px;
     margin-right:  0px;
     margin-bottom: 0px;
     background-color: #FFFFFF;
}
.toc_4 {
     font-size: 8pt;
     margin-left:  48px;
     margin-top:    0px;
     margin-right:  0px;
     margin-bottom: 0px;
     background-color: #FFFFFF;
}
.header {
     font-size: x-small;
}
.footer {
     font-variant: small-caps;
     font-size: x-small;
     background-color: #DDDDDD;
     color: #000000;
}
.tdbgcolor {
     background-color: #b9cdd8;
}
.bodybgcolor {
     background-color: #FFFFFF;
}


/* Links */
A:active {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A:link {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A:visited {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A[HREF]:hover {
    background-color: #b9cdd8;
    color: black;
}
a.toc_main {
    font-size: small;
    font-weight: bold;
    list-style-type: none;
    text-indent: 1em;
}
a.toc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    list-style-type: none;
}



