Source: openamq
Section: net
Priority: optional
Maintainer: Esteve Fernandez <esteve.fernandez@gmail.com>
Build-Depends: debhelper (>= 4.0.0), build-essential
Standards-Version: 3.6.2

Package: openamq
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Original reference implementation of AMQP, written in C/C++.
 OpenAMQ is the original reference implementation of AMQP,
 written in C/C++ by iMatix.
 .
 It's a complete AMQ message queueing broker that aims for performance,
 ease of use, and high reliability.

Package: openamq-doc
Architecture: all
Description: Documentation for openamq
 OpenAMQ is the original reference implementation of AMQP,
 written in C/C++ by iMatix.
 .
 It's a complete AMQ message queueing broker that aims for performance,
 ease of use, and high reliability.
 .
 This package contains the reference documentation for OpenAMQ and all
 the related components.
