BODY {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 12pt;
    line-height: 16pt;
    font-size: 14pt;
    font-variant: small-caps;
    text-indent: 10pt;
}
h2 {
    margin-top: 12pt;
    font-variant: small-caps;
    font-size: 12pt;
    padding-left: 10pt;
}
h3 {
    font-size: 11pt;
    font-variant: small-caps;
    margin-top: 1em;
    padding-left: 10pt;
}
h4 {
    font-size: 10pt;
    font-variant: small-caps;
    margin-top: 1em;
    padding-left: 10pt;
}
p {
    font-size: 10pt;
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
pre {
    background-color: #E0E0E0;
    margin: 1em;
    margin-left: 4em;
    margin-right: 4em;
    padding: 10pt;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #909090;
}
ul {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
ol {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
dt {
    font-size: 10pt;
    margin-top: 6px;
    margin-right: 30px;
    margin-left: 30px;
}
dd {
    font-size: 10pt;
    margin-right: 60px;
    margin-left: 60px;
}
th {
    font-size: 10pt;
}
td {
    font-size: 10pt;
}
blockquote {
    font-size: 10pt;
    font-weight: bold;
    margin-right: 60px;
    margin-left: 60px;
}
img {
    margin-left: 4em;
    margin-right: 4em;
}
.toc_1 {
    font-variant: small-caps;
    margin:       0px;
    text-indent:  6px;
    line-height: 15pt;
    background-color: #01415c;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: white;
}
.toc_2 {
    margin:        0px;
    padding-left:  10px;
    padding-right: 10px;
    padding-top:   4px;
}
.toc_3 {
    margin:        0px;
    padding-left:  20px;
    padding-right: 10px;
}
.toc_4 {
    margin:        0px;
    padding-left:  30px;
    padding-right: 10px;
}
.header {
    font-weight: bold;
    font-size: small;
    padding-top:    4pt;
    padding-left:  10pt;
    padding-bottom: 4pt;
    color: #ffffff;
    background-color: #01415c;
}
.footer {
    text-align: center;
    font-variant: small-caps;
    font-size: x-small;
}
.tdbgcolor {
    background-color: #b9cdd8;
}
.bodybgcolor {
    background-color: #FFFFFF;
}

/* Links */
A:active {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A:link {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A:visited {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A[HREF]:hover {
    background-color: #b9cdd8;
    color: blue;
}
a.toc_main {
    font-size: small;
    font-weight: bold;
    list-style-type: none;
    color: white;
}
a.toc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    list-style-type: none;
}

