body {
    margin: 0 0 0 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 12px;
    margin-right: 0px;
    text-align: right;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
}

.header {
    font-size: 12px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    margin-top: 6px;
    margin-left: 12px;
    margin-right: 0px;
}

.footer {
    margin-top: 0px;
    font-size: 9px;
}

.message {
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 12px;
    margin-right: 0px;
    background-color: yellow;
}

big {
    font-size: 12px;
    font-weight: bold;
    background-color: yellow;
}

li {
    font-size: 12px;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 6px;
}

p {
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
}

p.even {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 6px;
    line-height: 18px;
    font-size: 16px;
}

p.odd {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 6px;
    line-height: 18px;
    font-size: 16px;
}

em {
    font-size: 11px;
}

.quote {
    font-size: 12px;
    font-weight: bold;
    margin-left: 24px;
    margin-top: 6px;
    margin-bottom: 6px;
}

strong {
    font-size: 12px;
    font-weight: bold;
}

th {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    border: groove darkred 1px;
}

td {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

tr.even {
    font-size: 10px;
    background-color: white;
    vertical-align: top;
}

tr.odd {
    font-size: 10px;
    background-color: #d1fff8;
    vertical-align: top;
}

td.tdbody {
}

td.tdlabel {
}

td.tbvalue {
}

td.tdfield {
}

input {
    font-size: 12px;
    font-weight: bold;
}

textarea {
    font-size: 12px;
    font-weight: bold;
    background-color: white;
}

input.input {
    background-color: white;
}

select {
    font-size: 12px;
}

input.button {
    font-size: 12px;
    background-color: white;
}

input.error {
    background-color: red;
    color: yellow;
}

A {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

A.footer {
    text-decoration: none;
    margin-left: 0;
    margin-right: 0;
}

