<page
    name = "config"
    title = "Configuration"
    subtitle = "Configure Your Server"
    >
<content type = "gurudoc">

OpenAMQ Configuration Model
***************************

Runtime Options
    
- command-line
- static XML
- layering
-

More information: [page:options]

Logging

More information: [page:logging]

Clustering

More information: [page:cluster]

</content>
</page>
