/*
    OpenAMQ.org customisations
 */
#logo_container {
    background-image: url('topfade.png');
    background-color: #01415c;
}
#menu_container {
    border-width: 0 0 1pt 0;
    border-style: solid;
    border-color: #01415c;
    background-color: #01415c;
}
.menu_section {
    background-color: #b9cdd8;
}
#copyright {
    color: white;
    background-color: #01415c;
}
#title_container {
    color: white;
    background-image: url('topfade.png');
    background-color: #01415c;
}
H2#title {
    color: #b9cdd8;
    border-color: #b9cdd8;
}
#content_container h1 {
    border-color: #b9cdd8;
}
#content_container pre {
    font-size: 95%;
    background-color: #cfdee7;
}
A:active {
    color: #01415c;
}
A:link {
    color: #01415c;
}
A:visited {
    color: #01415c;
}
#float_1 {
    background-color: #e4edf3;
}
#float_2 {
    background-color: #cfdee7;
}
#float_3 {
    background-color: #b2cbd8;
}
#float_4 {
    background-color: #b2cbd8;
}
#float_5 {
    background-color: #cfdee7;
}
#float_6 {
    background-color: #e4edf3;
}

