/*
   OpenAMQ stylesheet
*/

/* Global defaults */
* {
    margin: 0;
    padding: 0;
}
BODY {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    background-color: #b9cdd8;
}

/* Left column container */
#left_container {
    float: left;
    width: 220px;
    height: 100%;
    margin: 0;
}
#left_footer {
    height: 100%;
    background-color: black;
}

/* Right column container */
#right_container {
    margin-left: 220px;
    background-color: white;
}

/* Logo (left, top) container */
#logo_container {
    height: 100px;
    background-color: white;
}
/* Logo itself */
#logo {
    display: block;
    padding: 6pt;
    margin-left: auto;
    margin-right: auto;
}

/* Menu (left, bottom) container */
#menu_container {
    color: black;
    background-color: #b9cdd8;
}
H3.menu_heading {
    color: white;
    background-color: #01415c;
    font-size: 10pt;
    line-height: 16pt;
    font-variant: small-caps;
    text-indent: 10pt;
}
UL.menu_item {
    font-variant: normal;
    list-style: none;
    border-width: 0 0 1pt 0;
    border-style: solid;
    border-color: white;
    line-height: 16pt;
}
UL.menu_item LI {
    border-width: 1pt 0 0 0;
    border-style: solid;
    border-color: white;
    text-indent: 15pt;
    line-height: 15pt;
}

#copyright P {
    font-size: 8pt;
    background-color: #b9cdd8;
    border-width: 3pt 0 4pt 0;
    border-style: solid;
    border-color: #b9cdd8;
    padding-left: 15pt;
    color: #01415c;
}

#title_container {
    color: white;
    background-color: #01415c;
    height: 100px;
    position: relative;
}
H1#title {
    width: 80%;
    position: absolute;
    font-variant: small-caps;
    margin-left: 20pt;
    margin-top: 20pt;
    font-size: 18pt;
}
H2#title {
    width: 80%;
    color: #b9cdd8;
    position: absolute;
    font-variant: small-caps;
    text-align: right;
    margin-top: 45pt;
    margin-left: 20pt;
    font-size: 12pt;
    border-width: 1pt 0 0 0;
    border-style: dashed;
    border-color: #b9cdd8;
}

/* Content (right, bottom) container */
/* FIXME: Style more HTML elements here */
#content_container {
    width: 80%;
    margin: 20pt;
}
#content_container H1 {
    margin-top: 12pt;
    background-color: #b9cdd8;
    font-size: 12pt;
    font-variant: small-caps;
    text-indent: 10pt;
}
#content_container H2 {
    margin-top: 12pt;
    font-variant: small-caps;
    font-size: 10pt;
    padding-left: 10pt;
}
#content_container H3 {
    margin-top: 11pt;
    font-variant: small-caps;
    font-size: 9pt;
    padding-left: 10pt;
}
#content_container H4 {
    margin-top: 10pt;
    font-variant: small-caps;
    font-size: 8pt;
    padding-left: 10pt;
}
#content_container UL {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
#content_container OL {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
#content_container LI {
    margin-left: 2em;
}
#content_container P {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
#content_container PRE {
    background-color: #E0E0E0;
    margin: 1em;
    margin-left: 2em;
    margin-right: 4em;
    padding-left: 2em;
}
#content_container TABLE {
    margin-left: 3em;
}
#content_container TD {
    padding-left: 1em;
}
#content_container DL {
    margin: 1em;
    font-weight: bold;
    padding-left: 1em;
}
#content_container DD {
    margin: 3px;
    font-weight: normal;
    padding-left: 1em;
    padding-right: 1em;
}

/* Links */
A:active {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A:link {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A:visited {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A[HREF]:hover {
    background-color: #b9cdd8;
    color: black;
}
A.menu_item:active {
    text-decoration: none;
    color: black;
}
A.menu_item:link {
    text-decoration: none;
    color: black;
}
A.menu_item:visited {
    text-decoration: none;
    color: black;
}
A.menu_item[HREF]:hover {
    color: red;
}
A:link IMG, A:visited IMG {
    border-style: none;
}
