/*
   OpenAMQ stylesheet
*/

/* Global defaults */
* {
    margin: 0;
    padding: 0;
}
BODY {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

/* Left column container */
#left_container {
    float: left;
    width: 220px;
    height: 100%;
    margin: 0;
}
#left_footer {
    height: 100%;
    background-color: black;
}

/* Right column container */
#right_container {
    margin-left: 220px;
}

/* Logo (left, top) container */
#logo_container {
    height: 100px;
    background-color: white;
}
/* Logo itself */
#logo {
    display: block;
    padding: 6pt;
    margin-left: auto;
    margin-right: auto;
}

/* Menu (left, bottom) container */
#menu_container {
    background-color: white;
}
.menu_section {
    background-color: #b9cdd8;
    margin-bottom: 10px;
    margin-left: 10px;
}
.menu_title {
    font-size: 11pt;
    text-indent: 10pt;
    margin: 2pt;
}
.menu_item  {
    text-indent: 20pt;
    padding-bottom: 3px;
}
#copyright {
    font-size: 7pt;
    padding-left: 15pt;
    margin: 2pt;
}

#title_container {
    color: white;
    background-color: #01415c;
    height: 100px;
    position: relative;
}
H1#title {
    width: 80%;
    position: absolute;
    font-variant: small-caps;
    margin-left: 20pt;
    margin-top: 20pt;
    font-size: 18pt;
}
H2#title {
    width: 80%;
    color: #b9cdd8;
    position: absolute;
    font-variant: small-caps;
    text-align: right;
    margin-top: 45pt;
    margin-left: 20pt;
    font-size: 12pt;
    border-width: 1pt 0 0 0;
    border-style: dashed;
    border-color: #b9cdd8;
}

/* Content (right, bottom) container */
/* FIXME: Style more HTML elements here */
#content_container {
    width: 50%;
    position: absolute;
    left: 240px;
    top: 100px;
}
#content_container H1 {
    margin-top: 12pt;
    font-size: 12pt;
    font-variant: small-caps;
    border-width: 0 0 1pt 0;
    border-style: dashed;
    border-color: #b9cdd8;
}
#content_container H2 {
    margin-top: 12pt;
    font-variant: small-caps;
    font-size: 10pt;
    padding-left: 10pt;
}
#content_container H3 {
    margin-top: 11pt;
    font-variant: small-caps;
    font-size: 9pt;
    padding-left: 10pt;
}
#content_container H4 {
    margin-top: 10pt;
    font-variant: small-caps;
    font-size: 8pt;
    padding-left: 10pt;
}
#content_container UL {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
#content_container OL {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
#content_container LI {
    margin-left: 2em;
}
#content_container P {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
#content_container pre {
    background-color: #b9cdd8;
    color: black;
    margin: 1em;
    margin-left: 4em;
    margin-right: 4em;
}
#content_container TABLE {
    margin-left: 3em;
}
#content_container TD {
    padding-left: 1em;
}
#content_container DL {
    margin: 1em;
    font-weight: bold;
    padding-left: 1em;
}
#content_container DD {
    margin: 3px;
    font-weight: normal;
    padding-left: 1em;
    padding-right: 1em;
}

/* Links */
A:active {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A:link {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A:visited {
    text-decoration: none;
    font-weight: bold;
    color: #01415c;
}
A[HREF]:hover {
    color: red;
}
A:link IMG, A:visited IMG {
    border-style: none;
}


/* Floating boxes */
#float_1 {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 30px;
    width: 270px;
    height: 240px;
    background-color: #e4edf3;
}
#float_2 {
    z-index: 2;
    position: absolute;
    left: 290px;
    top: 30px;
    width: 270px;
    height: 240px;
    background-color: #cfdee7;
}
#float_3 {
    z-index: 3;
    position: absolute;
    left: 580px;
    top: 30px;
    width: 270px;
    height: 240px;
    background-color: #b2cbd8;
}
#float_4 {
    z-index: 4;
    position: absolute;
    left: 0px;
    top: 300px;
    width: 270px;
    height: 240px;
    background-color: #b2cbd8;
}
#float_5 {
    z-index: 5;
    position: absolute;
    left: 290px;
    top: 300px;
    width: 270px;
    height: 240px;
    background-color: #cfdee7;
}
#float_6 {
    z-index: 6;
    position: absolute;
    left: 580px;
    top: 300px;
    width: 270px;
    height: 240px;
    background-color: #e4edf3;
}
#float_header {
    margin-top: 6pt;
    font-size: 12pt;
    font-weight: bold;
    text-indent: 0;
    text-align: center;
}