  <page
    name    = "server"
    picture = "server.jpg"
    accent  = "#312608"
    >
    <language name = "en">
      <title content = "title"/>
      <remark>
        <line>The OpenAMQ server is a portable, compact middleware
        server that implements the AMQP specifications</line>
      </remark>
      <header>
        <line>Here we have a header.</line>
        <line>Here we have a header.</line>
      </header>
      <section>
        <title>Title text</title>
        <head>Heading...</head>
        <line>Some text comes here</line>
        <line>Some text comes here</line>
        <line>Some text comes here</line>
      </section>
      <footer>
        <line content = "slogan" />
      </footer>
    </language>
  </page>
